# Web frameworks
Flask==2.3.3
Flask-CORS==4.0.0
fastapi
uvicorn
gunicorn
Werkzeug==2.3.7

# Data handling & analysis
pandas_ta
scipy
scikit-learn

# HTTP & APIs
requests==2.31.0
pandas==2.1.1
numpy==1.26.4
python-dotenv==1.0.1
yfinance==0.2.18
anthropic

# Scheduling
apscheduler
tradingview_scraper